<!--<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 900 325" aria-labelledby="text" aria-describedby="desc">-->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:se="http://svg-edit.googlecode.com" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="100%" height="600" id="mapaEcuador">
    <!--Created with Vector Paint - http://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo>
        <rect id=" backgroundrect " width="100% " height="100% " x="0 " y="0 " fill="#FFFFFF " stroke="none " />-->
    <g class="currentLayer ">
        <path class="naranja " d="M98.5187188219935,34.41275034448216 L98.5187188219935,201.42724456335736 " id="svg_1 " filter=" " />

        <path class="naranja " d="M176.94829962410512,8.358686241036324 L176.94829962410512,157.37059913289573 " id="svg_6 " transform="rotate(-89.80115509033203 176.94830322265628,82.86465454101565) " />

        <path class="naranja " d="M373.1407954155959,257.65536008357066 L373.1407954155959,445.49746753229965 " id="svg_4 " transform="rotate(47.7221794128418 373.14080810546864,351.5764465332031) " />

        <path class="naranja " d="M199.99158048698337,156.78689949056232 L199.99158048698337,465.3303811105309 " id="svg_3 " transform="rotate(-42.0989875793457 199.9915771484376,311.05859375) " />

        <path class="naranja " d="M339.40332544299406,44.842748923710644 L339.40332544299406,325.4244995906191 " transform="rotate(-42.0989875793457 339.40338134765625,185.13363647460943) " id="svg_5 " />

        <path class="azul " d="M235.5077144042201,361.4217031240216 L313.1817067939147,268.96763930794793 " id="svg_2 " transform="rotate(7.6888885498046875 312.43533325195307,291.7733459472653) " />

        <path class="azul " d="M290.1863594852523,240.16028349423073 L460.2789078862379,37.70194653111433 " transform="rotate(7.6888885498046875 375.23260498046915,138.93112182617182) " id="svg_10 " />

        <path class="verde " d="M299.59034768515335,407.2379918941031 L454.78771361738563,222.50914337557566 " transform="rotate(7.6888885498046875 377.18902587890665,314.8735656738278) " id="svg_11 " />

        <path class="verde " d="M285.48881012735757,492.3222201954428 L337.0251122528481,430.979415236357 " transform="rotate(7.6888885498046875 311.256958007812,461.6508178710938) " id="svg_8 " />

        <path class="amarillo " d="M437.23999156909696,282.6448364811697 L450.65337360186777,266.6791104988433 " transform="rotate(7.6888885498046875 443.94665527343756,274.6619567871095) " id="svg_18 " />

        <path class="amarillo " d="M464.52541783935817,301.1943951616978 L482.0201668160703,280.3706858533845 " transform="rotate(49.36458969116211 473.2727661132813,290.7825622558593) " id="svg_21 " />

        <path class="amarillo " d="M522.557394809988,325.3492122914625 L540.0521437867001,224.5232597117303 " transform="rotate(61.59195327758789 531.304748535156,274.9362487792969) " id="svg_22 " />

        <path class="amarillo " d="M611.6429379237529,317.0429581954195 L629.137686900465,225.24993289248943 " transform="rotate(-85.4936752319336 620.3902587890625,271.1464233398438) " id="svg_23 " />

        <path class="amarillo " d="M451.0861451860021,293.41406732376004 L464.499527218773,277.4483413414336 " transform="rotate(-82.83992004394531 457.7927856445312,285.4312133789062) " id="svg_20 " />

        <path class="verde " d="M441.73681120438437,227.39076386605984 L504.7648778332489,152.36950237259376 " transform="rotate(7.6888885498046875 473.2508544921871,189.88012695312534) " id="svg_15 " />

        <path class="verde " d="M488.66662468967,151.90142921651002 L547.0408786913384,82.41952364367393 " transform="rotate(7.6888885498046875 517.8537597656255,117.16046142578082) " id="svg_17 " />

        <path class="verde " d="M240.83841621113766,511.44372843835197 L279.8053331313213,465.0620540475261 " transform="rotate(7.6888885498046875 260.32186889648557,488.25286865234403) " id="svg_13 " />

        <path class="azul " d="M286.29970344247386,226.38487761663794 L326.41485513391063,270.38214076208465 " id="svg_7 " />

        <path class="verde " d="M287.0997037523091,387.1848747357083 L340.814857315492,444.78213913585614 " id="svg_12 " />

        <path class="verde " d="M272.2016269429612,467.29286969146597 L292.1902625232697,488.7261273877883 " id="svg_9 " transform="rotate(0.4973134696483612 282.1959533691277,478.0095214843749) " />

        <path class="verde " d="M446.0477925404,221.13902116260397 L466.0364281207085,242.57227885892632 " transform="rotate(0.4973134696483612 456.04211425780625,231.855651855472) " id="svg_14 " />

        <path class="verde " d="M482.770058076831,139.63291752573247 L508.61279961283606,167.34337013242816 " transform="rotate(0.4973134696483612 495.69140625000057,153.48814392089892) " id="svg_16 " />

        <a xlink:href="/Mapa/metro/1">
            <path d="M91.01870996965454,41.79739486908073 C91.01870996965454,37.77711448043226 94.36628869414031,34.520687365627 98.49910193424614,34.520687365627 C102.63191517435197,34.520687365627 105.97949389883775,37.77711448043226 105.97949389883775,41.79739486908073 C105.97949389883775,45.817675257729206 102.63191517435197,49.07410237253447 98.49910193424614,49.07410237253447 C94.36628869414031,49.07410237253447 91.01870996965454,45.817675257729206 91.01870996965454,41.79739486908073 z " id="lecarreofur" role="img" addinfo="Le Carrefour" class="<%= idEstacionVista == '1' ? 'seleccionado' : 'estacionesprincipales' %>" title="Le Carrefour" tabindex="1" />
        </a>

        <path class="estaciones " d="M135.7245929301086,82.38563255385861 C135.7245929301086,79.77365056159593 137.8437025277469,77.65794514786319 140.45988721618923,77.65794514786319 C143.07607190463156,77.65794514786319 145.19518150226986,79.77365056159593 145.19518150226986,82.38563255385861 C145.19518150226986,84.99761454612127 143.07607190463156,87.11331995985404 140.45988721618923,87.11331995985404 C137.8437025277469,87.11331995985404 135.7245929301086,84.99761454612127 135.7245929301086,82.38563255385861 z " id="svg_32 " />

        <a xlink:href="/Mapa/metro/3">
            <path d="M93.37165114882617,113.75818161086545 C93.37165114882617,111.14619961860276 95.49076074646447,109.03049420487002 98.1069454349068,109.03049420487002 C100.72313012334914,109.03049420487002 102.84223972098744,111.14619961860276 102.84223972098744,113.75818161086545 C102.84223972098744,116.3701636031281 100.72313012334914,118.48586901686087 98.1069454349068,118.48586901686087 C95.49076074646447,118.48586901686087 93.37165114882617,116.3701636031281 93.37165114882617,113.75818161086545 z " class="<%= idEstacionVista == '3' ? 'seleccionado' : 'estaciones' %>" title="Notredame" id="notredame" tabindex="3" role="img" addinfo="Notredame"/>
        </a>

        <a xlink:href="/Mapa/metro/4">
            <path d="M93.76380748155742,143.1699460239838 C93.76380748155742,140.55796403172113 95.88291707919572,138.4422586179884 98.49910176763805,138.4422586179884 C101.11528645608038,138.4422586179884 103.23439605371868,140.55796403172113 103.23439605371868,143.1699460239838 C103.23439605371868,145.78192801624647 101.11528645608038,147.89763342997924 98.49910176763805,147.89763342997924 C95.88291707919572,147.89763342997924 93.76380748155742,145.78192801624647 93.76380748155742,143.1699460239838 z " class="<%= idEstacionVista == '4' ? 'seleccionado' : 'estaciones' %>" title="Chomedey" id="Chomedey" tabindex="4" role="img" addinfo="Chomedey"/>
        </a>


        <a xlink:href="/Mapa/metro/5">
            <path d="M94.15596435073047,197.28759292678342 C94.15596435073047,194.6756109345207 96.27507394836877,192.559905520788 98.8912586368111,192.559905520788 C101.50744332525343,192.559905520788 103.62655292289173,194.6756109345207 103.62655292289173,197.28759292678342 C103.62655292289173,199.89957491904607 101.50744332525343,202.01528033277884 98.8912586368111,202.01528033277884 C96.27507394836877,202.01528033277884 94.15596435073047,199.89957491904607 94.15596435073047,197.28759292678342 z " class="<%= idEstacionVista == '5' ? 'seleccionado' : 'estaciones' %>" title="Gouin" id="Gouin" tabindex="5"  role="img" addinfo="Gouin"/>
        </a>

        <path class="estaciones " d="M247.51380801799922,89.46896556930051 C247.51380801799922,86.85698357703782 249.63291761563755,84.74127816330508 252.24910230407988,84.74127816330508 C254.86528699252221,84.74127816330508 256.9843965901605,86.85698357703782 256.9843965901605,89.46896556930051 C256.9843965901605,92.08094756156316 254.86528699252221,94.19665297529593 252.24910230407988,94.19665297529593 C249.63291761563755,94.19665297529593 247.51380801799922,92.08094756156316 247.51380801799922,89.46896556930051 z " id="svg_34 " />

        <path class="estaciones " d="M267.5138080179992,109.46896556930051 C267.5138080179992,106.85698357703782 269.63291761563755,104.74127816330508 272.2491023040799,104.74127816330508 C274.8652869925222,104.74127816330508 276.9843965901605,106.85698357703782 276.9843965901605,109.46896556930051 C276.9843965901605,112.08094756156316 274.8652869925222,114.19665297529593 272.2491023040799,114.19665297529593 C269.63291761563755,114.19665297529593 267.5138080179992,112.08094756156316 267.5138080179992,109.46896556930051 z " id="svg_40 " />

        <path class="estaciones " d="M307.1216533243957,154.95916179732785 C307.1216533243957,152.34717980506517 309.24076292203404,150.23147439133243 311.85694761047637,150.23147439133243 C314.4731322989187,150.23147439133243 316.59224189655697,152.34717980506517 316.59224189655697,154.95916179732785 C316.59224189655697,157.5711437895905 314.4731322989187,159.68684920332328 311.85694761047637,159.68684920332328 C309.24076292203404,159.68684920332328 307.1216533243957,157.5711437895905 307.1216533243957,154.95916179732785 z " id="svg_39 " />

        <path class="estaciones " d="M293.0040053189102,139.6650453598927 C293.0040053189102,137.05306336763002 295.1231149165485,134.93735795389728 297.73929960499083,134.93735795389728 C300.35548429343316,134.93735795389728 302.47459389107144,137.05306336763002 302.47459389107144,139.6650453598927 C302.47459389107144,142.27702735215536 300.35548429343316,144.39273276588813 297.73929960499083,144.39273276588813 C295.1231149165485,144.39273276588813 293.0040053189102,142.27702735215536 293.0040053189102,139.6650453598927 z " id="svg_38 " />

        <path class="estaciones " d="M288.66576946380764,234.934652903838 C288.66576946380764,232.3226709115753 290.78487906144596,230.2069654978426 293.4010637498883,230.2069654978426 C296.0172484383306,230.2069654978426 298.1363580359689,232.3226709115753 298.1363580359689,234.934652903838 C298.1363580359689,237.54663489610067 296.0172484383306,239.66234030983344 293.4010637498883,239.66234030983344 C290.78487906144596,239.66234030983344 288.66576946380764,237.54663489610067 288.66576946380764,234.934652903838 z " id="svg_42 " />

        <path class="estaciones " d="M308.66576946380764,256.1111235411595 C308.66576946380764,253.49914154889677 310.78487906144596,251.38343613516406 313.4010637498883,251.38343613516406 C316.0172484383306,251.38343613516406 318.1363580359689,253.49914154889677 318.1363580359689,256.1111235411595 C318.1363580359689,258.72310553342214 316.0172484383306,260.8388109471549 313.4010637498883,260.8388109471549 C310.78487906144596,260.8388109471549 308.66576946380764,258.72310553342214 308.66576946380764,256.1111235411595 z " id="svg_43 " />

        <path class="estaciones " d="M346.70498479011684,160.42484364823804 C346.70498479011684,157.81286165597533 348.82409438775517,155.6971562422426 351.4402790761975,155.6971562422426 C354.05646376463983,155.6971562422426 356.1755733622781,157.81286165597533 356.1755733622781,160.42484364823804 C356.1755733622781,163.0368256405007 354.05646376463983,165.15253105423346 351.4402790761975,165.15253105423346 C348.82409438775517,165.15253105423346 346.70498479011684,163.0368256405007 346.70498479011684,160.42484364823804 z " id="svg_48 " />

        <path class="estaciones " d="M340.99419987800746,190.32680497483716 C340.99419987800746,187.71482298257445 343.1133094756458,185.59911756884173 345.7294941640881,185.59911756884173 C348.34567885253045,185.59911756884173 350.4647884501687,187.71482298257445 350.4647884501687,190.32680497483716 C350.4647884501687,192.93878696709982 348.34567885253045,195.05449238083258 345.7294941640881,195.05449238083258 C343.1133094756458,195.05449238083258 340.99419987800746,192.93878696709982 340.99419987800746,190.32680497483716 z " id="svg_55 " />

        <path class="estaciones " d="M370.0873371422592,223.80719743089185 C370.0873371422592,221.19521543862913 372.2064467398975,219.07951002489642 374.82263142833983,219.07951002489642 C377.43881611678216,219.07951002489642 379.55792571442043,221.19521543862913 379.55792571442043,223.80719743089185 C379.55792571442043,226.4191794231545 377.43881611678216,228.53488483688727 374.82263142833983,228.53488483688727 C372.2064467398975,228.53488483688727 370.0873371422592,226.4191794231545 370.0873371422592,223.80719743089185 z " id="svg_57 " />

        <path class="estaciones " d="M354.6461607277694,206.79739318208203 C354.6461607277694,204.18541118981932 356.76527032540776,202.0697057760866 359.3814550138501,202.0697057760866 C361.9976397022924,202.0697057760866 364.1167492999307,204.18541118981932 364.1167492999307,206.79739318208203 C364.1167492999307,209.4093751743447 361.9976397022924,211.52508058807746 359.3814550138501,211.52508058807746 C356.76527032540776,211.52508058807746 354.6461607277694,209.4093751743447 354.6461607277694,206.79739318208203 z " id="svg_56 " />

        <path class="estaciones " d="M383.4206708431545,239.10131514982686 C383.4206708431545,236.48933315756415 385.5397804407928,234.37362774383143 388.15596512923514,234.37362774383143 C390.7721498176775,234.37362774383143 392.89125941531574,236.48933315756415 392.89125941531574,239.10131514982686 C392.89125941531574,241.71329714208952 390.7721498176775,243.82900255582229 388.15596512923514,243.82900255582229 C385.5397804407928,243.82900255582229 383.4206708431545,241.71329714208952 383.4206708431545,239.10131514982686 z " id="svg_58 " />

        <path class="estaciones " d="M397.53831780555873,254.39543280915723 C397.53831780555873,251.78345081689451 399.65742740319706,249.6677454031618 402.2736120916394,249.6677454031618 C404.8897967800817,249.6677454031618 407.00890637772,251.78345081689451 407.00890637772,254.39543280915723 C407.00890637772,257.0074148014199 404.8897967800817,259.12312021515265 402.2736120916394,259.12312021515265 C399.65742740319706,259.12312021515265 397.53831780555873,257.0074148014199 397.53831780555873,254.39543280915723 z " id="svg_61 " />

        <path class="estaciones " d="M417.3912590802017,306.13562903718463 C417.3912590802017,303.52364704492186 419.51036867784,301.40794163118915 422.12655336628234,301.40794163118915 C424.74273805472467,301.40794163118915 426.86184765236294,303.52364704492186 426.86184765236294,306.13562903718463 C426.86184765236294,308.7476110294472 424.74273805472467,310.86331644318 422.12655336628234,310.86331644318 C419.51036867784,310.86331644318 417.3912590802017,308.7476110294472 417.3912590802017,306.13562903718463 z " id="svg_62 " />

        <path class="estaciones " d="M402.8814542353454,319.8611189217995 C402.8814542353454,317.2491369295368 405.00056383298374,315.1334315158041 407.6167485214261,315.1334315158041 C410.23293320986846,315.1334315158041 412.3520428075067,317.2491369295368 412.3520428075067,319.8611189217995 C412.3520428075067,322.4731009140622 410.23293320986846,324.58880632779494 407.6167485214261,324.58880632779494 C405.00056383298374,324.58880632779494 402.8814542353454,322.4731009140622 402.8814542353454,319.8611189217995 z " id="svg_63 " />

        <path class="estaciones " d="M433.76380754116207,259.6405290456246 C433.76380754116207,257.0285470533619 435.8829171388004,254.91284163962916 438.4991018272427,254.91284163962916 C441.11528651568506,254.91284163962916 443.2343961133233,257.0285470533619 443.2343961133233,259.6405290456246 C443.2343961133233,262.25251103788725 441.11528651568506,264.36821645162 438.4991018272427,264.36821645162 C435.8829171388004,264.36821645162 433.76380754116207,262.25251103788725 433.76380754116207,259.6405290456246 z " id="svg_95 " />

        <path class="estaciones " d="M452.9794937432114,241.6013118715714 C452.9794937432114,238.98932987930868 455.09860334084965,236.87362446557597 457.714788029292,236.87362446557597 C460.3309727177343,236.87362446557597 462.4500823153726,238.98932987930868 462.4500823153726,241.6013118715714 C462.4500823153726,244.21329386383405 460.3309727177343,246.32899927756682 457.714788029292,246.32899927756682 C455.09860334084965,246.32899927756682 452.9794937432114,244.21329386383405 452.9794937432114,241.6013118715714 z " id="svg_96 " />

        <path class="estaciones " d="M442.783414489061,222.77778358177648 C442.783414489061,220.16580158951376 444.90252408669926,218.05009617578105 447.5187087751416,218.05009617578105 C450.1348934635839,218.05009617578105 452.2540030612222,220.16580158951376 452.2540030612222,222.77778358177648 C452.2540030612222,225.38976557403913 450.1348934635839,227.5054709877719 447.5187087751416,227.5054709877719 C444.90252408669926,227.5054709877719 442.783414489061,225.38976557403913 442.783414489061,222.77778358177648 z " id="svg_97 " />

        <path class="estaciones " d="M470.2343946755234,291.4052364321183 C470.2343946755234,288.79325443985556 472.35350427316166,286.67754902612285 474.969688961604,286.67754902612285 C477.5858736500463,286.67754902612285 479.7049832476846,288.79325443985556 479.7049832476846,291.4052364321183 C479.7049832476846,294.0172184243809 477.5858736500463,296.1329238381137 474.969688961604,296.1329238381137 C472.35350427316166,296.1329238381137 470.2343946755234,294.0172184243809 470.2343946755234,291.4052364321183 z " id="svg_105 " />

        <path class="estaciones " d="M497.68537510040437,284.3464124293755 C497.68537510040437,281.7344304371128 499.80448469804264,279.6187250233801 502.420669386485,279.6187250233801 C505.0368540749273,279.6187250233801 507.1559636725656,281.7344304371128 507.1559636725656,284.3464124293755 C507.1559636725656,286.95839442163816 505.0368540749273,289.07409983537093 502.420669386485,289.07409983537093 C499.80448469804264,289.07409983537093 497.68537510040437,286.95839442163816 497.68537510040437,284.3464124293755 z " id="svg_106 " />

        <path class="estaciones " d="M549.4500807583634,267.87582422213063 C549.4500807583634,265.2638422298679 551.5691903560016,263.1481368161352 554.185375044444,263.1481368161352 C556.8015597328863,263.1481368161352 558.9206693305246,265.2638422298679 558.9206693305246,267.87582422213063 C558.9206693305246,270.4878062143933 556.8015597328863,272.60351162812606 554.185375044444,272.60351162812606 C551.5691903560016,272.60351162812606 549.4500807583634,270.4878062143933 549.4500807583634,267.87582422213063 z " id="svg_107 " />

        <path class="estaciones " d="M572.9794926703278,259.24837327913747 C572.9794926703278,256.63639128687475 575.098602267966,254.52068587314204 577.7147869564084,254.52068587314204 C580.3309716448507,254.52068587314204 582.450081242489,256.63639128687475 582.450081242489,259.24837327913747 C582.450081242489,261.8603552714001 580.3309716448507,263.9760606851329 577.7147869564084,263.9760606851329 C575.098602267966,263.9760606851329 572.9794926703278,261.8603552714001 572.9794926703278,259.24837327913747 z " id="svg_109 " />

        <path class="estaciones " d="M628.7883172095123,274.2973926158379 C628.7883172095123,271.6854106235752 630.9074268071506,269.5697052098425 633.523611495593,269.5697052098425 C636.1397961840353,269.5697052098425 638.2589057816735,271.6854106235752 638.2589057816735,274.2973926158379 C638.2589057816735,276.90937460810056 636.1397961840353,279.02508002183333 633.523611495593,279.02508002183333 C630.9074268071506,279.02508002183333 628.7883172095123,276.90937460810056 628.7883172095123,274.2973926158379 z " id="svg_111 " />

        <path class="estaciones " d="M605.2589044630829,268.0228827090691 C605.2589044630829,265.4109007168064 607.3780140607212,263.2951953030737 609.9941987491635,263.2951953030737 C612.6103834376058,263.2951953030737 614.7294930352441,265.4109007168064 614.7294930352441,268.0228827090691 C614.7294930352441,270.63486470133176 612.6103834376058,272.75057011506453 609.9941987491635,272.75057011506453 C607.3780140607212,272.75057011506453 605.2589044630829,270.63486470133176 605.2589044630829,268.0228827090691 z " id="svg_110 " />

        <path class="estaciones " d="M523.5677276909653,276.50327522472844 C523.5677276909653,273.8912932324657 525.6868372886036,271.775587818733 528.3030219770459,271.775587818733 C530.9192066654882,271.775587818733 533.0383162631265,273.8912932324657 533.0383162631265,276.50327522472844 C533.0383162631265,279.1152572169911 530.9192066654882,281.23096263072387 528.3030219770459,281.23096263072387 C525.6868372886036,281.23096263072387 523.5677276909653,279.1152572169911 523.5677276909653,276.50327522472844 z " id="svg_108 " />

        <path class="estaciones " d="M449.0579239189926,206.69935340599523 C449.0579239189926,204.0873714137325 451.1770335166309,201.9716659999998 453.79321820507323,201.9716659999998 C456.40940289351556,201.9716659999998 458.52851249115383,204.0873714137325 458.52851249115383,206.69935340599523 C458.52851249115383,209.31133539825788 456.40940289351556,211.42704081199065 453.79321820507323,211.42704081199065 C451.1770335166309,211.42704081199065 449.0579239189926,209.31133539825788 449.0579239189926,206.69935340599523 z " id="svg_98 " />

        <path class="estaciones " d="M480.822630262405,178.46405685858235 C480.822630262405,175.85207486631964 482.9417398600433,173.73636945258693 485.55792454848563,173.73636945258693 C488.17410923692796,173.73636945258693 490.29321883456623,175.85207486631964 490.29321883456623,178.46405685858235 C490.29321883456623,181.076038850845 488.17410923692796,183.19174426457778 485.55792454848563,183.19174426457778 C482.9417398600433,183.19174426457778 480.822630262405,181.076038850845 480.822630262405,178.46405685858235 z " id="svg_100 " />

        <path class="estaciones " d="M496.9010615408722,164.73856527523503 C496.9010615408722,162.12658328297232 499.0201711385105,160.0108778692396 501.6363558269528,160.0108778692396 C504.25254051539514,160.0108778692396 506.3716501130334,162.12658328297232 506.3716501130334,164.73856527523503 C506.3716501130334,167.3505472674977 504.25254051539514,169.46625268123046 501.6363558269528,169.46625268123046 C499.0201711385105,169.46625268123046 496.9010615408722,167.3505472674977 496.9010615408722,164.73856527523503 z " id="svg_101 " />

        <path class="estaciones " d="M486.81442285183107,148.60541469768987 C486.81442285183107,145.99343270542715 488.93353244946934,143.87772729169444 491.54971713791167,143.87772729169444 C494.165901826354,143.87772729169444 496.2850114239923,145.99343270542715 496.2850114239923,148.60541469768987 C496.2850114239923,151.21739668995252 494.165901826354,153.3331021036853 491.54971713791167,153.3331021036853 C488.93353244946934,153.3331021036853 486.81442285183107,151.21739668995252 486.81442285183107,148.60541469768987 z " id="svg_102 " />

        <path class="estaciones " d="M513.3716502249542,117.03222794250951 C513.3716502249542,114.4202459502468 515.4907598225925,112.30454053651408 518.1069445110348,112.30454053651408 C520.7231291994772,112.30454053651408 522.8422387971154,114.4202459502468 522.8422387971154,117.03222794250951 C522.8422387971154,119.64420993477216 520.7231291994772,121.75991534850493 518.1069445110348,121.75991534850493 C515.4907598225925,121.75991534850493 513.3716502249542,119.64420993477216 513.3716502249542,117.03222794250951 z " id="svg_103 " />

        <path class="estaciones " d="M497.325139886171,131.21827442364201 C497.325139886171,128.6062924313793 499.44424948380924,126.49058701764659 502.0604341722516,126.49058701764659 C504.6766188606939,126.49058701764659 506.7957284583322,128.6062924313793 506.7957284583322,131.21827442364201 C506.7957284583322,133.83025641590467 504.6766188606939,135.94596182963744 502.0604341722516,135.94596182963744 C499.44424948380924,135.94596182963744 497.325139886171,133.83025641590467 497.325139886171,131.21827442364201 z " id="svg_263 " />

        <path class="estaciones " d="M530.2343952715698,102.13026601986394 C530.2343952715698,99.51828402760123 532.3535048692081,97.40257861386851 534.9696895576504,97.40257861386851 C537.5858742460928,97.40257861386851 539.704983843731,99.51828402760123 539.704983843731,102.13026601986394 C539.704983843731,104.7422480121266 537.5858742460928,106.85795342585936 534.9696895576504,106.85795342585936 C532.3535048692081,106.85795342585936 530.2343952715698,104.7422480121266 530.2343952715698,102.13026601986394 z " id="svg_104 " />

        <path class="estaciones " d="M464.74419844749605,192.97386283592687 C464.74419844749605,190.36188084366415 466.8633080451343,188.24617542993144 469.47949273357665,188.24617542993144 C472.095677422019,188.24617542993144 474.21478701965725,190.36188084366415 474.21478701965725,192.97386283592687 C474.21478701965725,195.58584482818952 472.095677422019,197.7015502419223 469.47949273357665,197.7015502419223 C466.8633080451343,197.7015502419223 464.74419844749605,195.58584482818952 464.74419844749605,192.97386283592687 z " id="svg_99 " />

        <path class="estaciones " d="M399.25400329235225,290.2287641854714 C399.25400329235225,287.6167821932087 401.3731128899906,285.50107677947597 403.9892975784329,285.50107677947597 C406.6054822668753,285.50107677947597 408.7245918645135,287.6167821932087 408.7245918645135,290.2287641854714 C408.7245918645135,292.84074617773405 406.6054822668753,294.9564515914668 403.9892975784329,294.9564515914668 C401.3731128899906,294.9564515914668 399.25400329235225,292.84074617773405 399.25400329235225,290.2287641854714 z " id="svg_94 " />

        <path class="estaciones " d="M379.2540030539337,308.26798094229207 C379.2540030539337,305.65599895002936 381.373112651572,303.54029353629664 383.98929734001433,303.54029353629664 C386.6054820284567,303.54029353629664 388.72459162609493,305.65599895002936 388.72459162609493,308.26798094229207 C388.72459162609493,310.8799629345547 386.6054820284567,312.9956683482875 383.98929734001433,312.9956683482875 C381.373112651572,312.9956683482875 379.2540030539337,310.8799629345547 379.2540030539337,308.26798094229207 z " id="svg_93 " />

        <path class="estaciones " d="M386.0187081158462,334.7630795033406 C386.0187081158462,332.15109751107786 388.13781771348454,330.03539209734515 390.75400240192687,330.03539209734515 C393.37018709036926,330.03539209734515 395.48929668800747,332.15109751107786 395.48929668800747,334.7630795033406 C395.48929668800747,337.37506149560323 393.37018709036926,339.490766909336 390.75400240192687,339.490766909336 C388.13781771348454,339.490766909336 386.0187081158462,337.37506149560323 386.0187081158462,334.7630795033406 z " id="svg_64 " />

        <path class="estaciones " d="M360.8226303220096,325.5228832157086 C360.8226303220096,322.9109012234459 362.94173991964794,320.79519580971316 365.5579246080903,320.79519580971316 C368.17410929653266,320.79519580971316 370.2932188941709,322.9109012234459 370.2932188941709,325.5228832157086 C370.2932188941709,328.13486520797125 368.17410929653266,330.250570621704 365.5579246080903,330.250570621704 C362.94173991964794,330.250570621704 360.8226303220096,328.13486520797125 360.8226303220096,325.5228832157086 z " id="svg_92 " />

        <path class="estaciones " d="M324.05792320373683,390.4493549855183 C324.05792320373683,387.8373729932556 326.17703280137516,385.7216675795229 328.7932174898175,385.7216675795229 C331.4094021782599,385.7216675795229 333.5285117758981,387.8373729932556 333.5285117758981,390.4493549855183 C333.5285117758981,393.06133697778097 331.4094021782599,395.17704239151374 328.7932174898175,395.17704239151374 C326.17703280137516,395.17704239151374 324.05792320373683,393.06133697778097 324.05792320373683,390.4493549855183 z " id="svg_67 " />

        <path class="estaciones " d="M280.4304741680923,403.95425687150464 C280.4304741680923,401.3422748792419 282.54958376573063,399.2265694655092 285.16576845417296,399.2265694655092 C287.78195314261535,399.2265694655092 289.90106274025356,401.3422748792419 289.90106274025356,403.95425687150464 C289.90106274025356,406.5662388637673 287.78195314261535,408.68194427750007 285.16576845417296,408.68194427750007 C282.54958376573063,408.68194427750007 280.4304741680923,406.5662388637673 280.4304741680923,403.95425687150464 z " id="svg_71 " />

        <path class="estaciones " d="M254.15596527460247,489.052300581498 C254.15596527460247,486.4403185892353 256.2750748722408,484.3246131755026 258.8912595606831,484.3246131755026 C261.5074442491255,484.3246131755026 263.6265538467637,486.4403185892353 263.6265538467637,489.052300581498 C263.6265538467637,491.6642825737606 261.5074442491255,493.7799879874934 258.8912595606831,493.7799879874934 C256.2750748722408,493.7799879874934 254.15596527460247,491.6642825737606 254.15596527460247,489.052300581498 z " id="svg_82 " />

        <path class="estaciones " d="M271.0187103510204,474.5424979122113 C271.0187103510204,471.93051591994856 273.1378199486587,469.81481050621585 275.75400463710105,469.81481050621585 C278.37018932554344,469.81481050621585 280.48929892318165,471.93051591994856 280.48929892318165,474.5424979122113 C280.48929892318165,477.1544799044739 278.37018932554344,479.2701853182067 275.75400463710105,479.2701853182067 C273.1378199486587,479.2701853182067 271.0187103510204,477.1544799044739 271.0187103510204,474.5424979122113 z " id="svg_83 " />

        <path class="estaciones " d="M291.0187103510204,494.5424979122113 C291.0187103510204,491.93051591994856 293.1378199486587,489.81481050621585 295.75400463710105,489.81481050621585 C298.37018932554344,489.81481050621585 300.48929892318165,491.93051591994856 300.48929892318165,494.5424979122113 C300.48929892318165,497.1544799044739 298.37018932554344,499.2701853182067 295.75400463710105,499.2701853182067 C293.1378199486587,499.2701853182067 291.0187103510204,497.1544799044739 291.0187103510204,494.5424979122113 z " id="svg_85 " />

        <path class="estaciones " d="M289.8422397136989,477.28759602622495 C289.8422397136989,474.67561403396223 291.96134931133724,472.5599086202295 294.5775339997796,472.5599086202295 C297.19371868822196,472.5599086202295 299.3128282858602,474.67561403396223 299.3128282858602,477.28759602622495 C299.3128282858602,479.89957801848755 297.19371868822196,482.0152834322204 294.5775339997796,482.0152834322204 C291.96134931133724,482.0152834322204 289.8422397136989,479.89957801848755 289.8422397136989,477.28759602622495 z " id="svg_84 " />

        <path class="estaciones " d="M307.881455397636,461.2091658504437 C307.881455397636,458.597183858181 310.0005649952743,456.48147844444827 312.61674968371665,456.48147844444827 C315.23293437215904,456.48147844444827 317.35204396979725,458.597183858181 317.35204396979725,461.2091658504437 C317.35204396979725,463.8211478427063 315.23293437215904,465.9368532564391 312.61674968371665,465.9368532564391 C310.0005649952743,465.9368532564391 307.881455397636,463.8211478427063 307.881455397636,461.2091658504437 z " id="svg_86 " />

        <path class="estaciones " d="M319.2540044546428,426.30720357017026 C319.2540044546428,423.69522157790755 321.37311405228115,421.57951616417483 323.9892987407235,421.57951616417483 C326.6054834291659,421.57951616417483 328.7245930268041,423.69522157790755 328.7245930268041,426.30720357017026 C328.7245930268041,428.91918556243286 326.6054834291659,431.0348909761657 323.9892987407235,431.0348909761657 C321.37311405228115,431.0348909761657 319.2540044546428,428.91918556243286 319.2540044546428,426.30720357017026 z " id="svg_88 " />

        <path class="estaciones " d="M298.07753274443775,381.60131672934995 C298.07753274443775,378.98933473708723 300.1966423420761,376.8736293233545 302.8128270305184,376.8736293233545 C305.4290117189608,376.8736293233545 307.548121316599,378.98933473708723 307.548121316599,381.60131672934995 C307.548121316599,384.21329872161255 305.4290117189608,386.32900413534543 302.8128270305184,386.32900413534543 C300.1966423420761,386.32900413534543 298.07753274443775,384.21329872161255 298.07753274443775,381.60131672934995 z " id="svg_89 " />

        <path class="estaciones " d="M320.82263091805606,361.60131458358273 C320.82263091805606,358.98933259132 322.9417405156944,356.8736271775873 325.5579252041367,356.8736271775873 C328.1741098925791,356.8736271775873 330.2932194902173,358.98933259132 330.2932194902173,361.60131458358273 C330.2932194902173,364.21329657584533 328.1741098925791,366.32900198957816 325.5579252041367,366.32900198957816 C322.9417405156944,366.32900198957816 320.82263091805606,364.21329657584533 320.82263091805606,361.60131458358273 z " id="svg_90 " />

        <path class="estaciones " d="M340.4304738998714,343.95425699071393 C340.4304738998714,341.3422749984512 342.54958349750973,339.2265695847185 345.16576818595206,339.2265695847185 C347.78195287439445,339.2265695847185 349.90106247203266,341.3422749984512 349.90106247203266,343.95425699071393 C349.90106247203266,346.56623898297653 347.78195287439445,348.68194439670935 345.16576818595206,348.68194439670935 C342.54958349750973,348.68194439670935 340.4304738998714,346.56623898297653 340.4304738998714,343.95425699071393 z " id="svg_91 " />

        <path class="estaciones " d="M323.95988676551013,447.09151677207456 C323.95988676551013,444.47953477981184 326.07899636314846,442.36382936607913 328.6951810515908,442.36382936607913 C331.3113657400332,442.36382936607913 333.4304753376714,444.47953477981184 333.4304753376714,447.09151677207456 C333.4304753376714,449.70349876433716 331.3113657400332,451.81920417807 328.6951810515908,451.81920417807 C326.07899636314846,451.81920417807 323.95988676551013,449.70349876433716 323.95988676551013,447.09151677207456 z " id="svg_87 " />

        <path class="estaciones " d="M364.7442004740539,144.73856876210675 C364.7442004740539,142.12658676984404 366.86331007169224,140.01088135611133 369.47949476013457,140.01088135611133 C372.0956794485769,140.01088135611133 374.2147890462152,142.12658676984404 374.2147890462152,144.73856876210675 C374.2147890462152,147.3505507543694 372.0956794485769,149.46625616810218 369.47949476013457,149.46625616810218 C366.86331007169224,149.46625616810218 364.7442004740539,147.3505507543694 364.7442004740539,144.73856876210675 z " id="svg_49 " />

        <path class="estaciones " d="M431.41086894872814,82.77778110818372 C431.41086894872814,80.165799115921 433.52997854636646,78.05009370218829 436.1461632348088,78.05009370218829 C438.7623479232511,78.05009370218829 440.8814575208894,80.165799115921 440.8814575208894,82.77778110818372 C440.8814575208894,85.38976310044637 438.7623479232511,87.50546851417914 436.1461632348088,87.50546851417914 C433.52997854636646,87.50546851417914 431.41086894872814,85.38976310044637 431.41086894872814,82.77778110818372 z " id="svg_53 " />

        <path class="estaciones " d="M448.66577089431917,67.87582156972394 C448.66577089431917,65.26383957746123 450.78488049195744,63.148134163728514 453.40106518039977,63.148134163728514 C456.0172498688421,63.148134163728514 458.13635946648037,65.26383957746123 458.13635946648037,67.87582156972394 C458.13635946648037,70.4878035619866 456.0172498688421,72.60350897571936 453.40106518039977,72.60350897571936 C450.78488049195744,72.60350897571936 448.66577089431917,70.4878035619866 448.66577089431917,67.87582156972394 z " id="svg_54 " />

        <path class="estaciones " d="M415.33243656757503,98.07190034703717 C415.33243656757503,95.45991835477446 417.45154616521336,93.34421294104175 420.0677308536557,93.34421294104175 C422.683915542098,93.34421294104175 424.8030251397363,95.45991835477446 424.8030251397363,98.07190034703717 C424.8030251397363,100.68388233929983 422.683915542098,102.7995877530326 420.0677308536557,102.7995877530326 C417.45154616521336,102.7995877530326 415.33243656757503,100.68388233929983 415.33243656757503,98.07190034703717 z " id="svg_52 " />

        <path class="estaciones " d="M398.46969032886653,112.97386215047345 C398.46969032886653,110.36188015821074 400.58879992650486,108.24617474447803 403.2049846149472,108.24617474447803 C405.8211693033895,108.24617474447803 407.9402789010278,110.36188015821074 407.9402789010278,112.97386215047345 C407.9402789010278,115.58584414273611 405.8211693033895,117.70154955646888 403.2049846149472,117.70154955646888 C400.58879992650486,117.70154955646888 398.46969032886653,115.58584414273611 398.46969032886653,112.97386215047345 z " id="svg_51 " />

        <path class="estaciones " d="M381.2147885620895,128.6601352484654 C381.2147885620895,126.04815325620268 383.3338981597278,123.93244784246997 385.95008284817015,123.93244784246997 C388.5662675366125,123.93244784246997 390.68537713425076,126.04815325620268 390.68537713425076,128.6601352484654 C390.68537713425076,131.27211724072805 388.5662675366125,133.38782265446082 385.95008284817015,133.38782265446082 C383.3338981597278,133.38782265446082 381.2147885620895,131.27211724072805 381.2147885620895,128.6601352484654 z " id="svg_50 " />

        <path class="estaciones " d="M310.23439586761623,193.75818012074933 C310.23439586761623,191.14619812848662 312.35350546525456,189.0304927147539 314.9696901536969,189.0304927147539 C317.5858748421392,189.0304927147539 319.7049844397775,191.14619812848662 319.7049844397775,193.75818012074933 C319.7049844397775,196.370162113012 317.5858748421392,198.48586752674476 314.9696901536969,198.48586752674476 C312.35350546525456,198.48586752674476 310.23439586761623,196.370162113012 310.23439586761623,193.75818012074933 z " id="svg_47 " />

        <a xlink:href="/Mapa/metro/13">
            <path class="estaciones " d="M213.76380390527873,331.4052421839665 C213.76380390527873,328.7932601917038 215.88291350291706,326.67755477797107 218.4990981913594,326.67755477797107 C221.11528287980173,326.67755477797107 223.23439247744,328.7932601917038 223.23439247744,331.4052421839665 C223.23439247744,334.01722417622915 221.11528287980173,336.1329295899619 218.4990981913594,336.1329295899619 C215.88291350291706,336.1329295899619 213.76380390527873,334.01722417622915 213.76380390527873,331.4052421839665 z " class="<%= idEstacionVista == '13' ? 'seleccionado' : 'estaciones' %>" title="Cóte-Sainte-Catherine" id="Cóte-Sainte-Catherine" tabindex="13" role="img" addinfo="Cóte-Sainte-Catherine" />
        </a>

        <a xlink:href="/Mapa/metro/12">
            <path d="M203.1755672753158,319.24838019327626 C203.1755672753158,316.63639820101355 205.29467687295414,314.52069278728084 207.91086156139647,314.52069278728084 C210.5270462498388,314.52069278728084 212.64615584747708,316.63639820101355 212.64615584747708,319.24838019327626 C212.64615584747708,321.8603621855389 210.5270462498388,323.9760675992717 207.91086156139647,323.9760675992717 C205.29467687295414,323.9760675992717 203.1755672753158,321.8603621855389 203.1755672753158,319.24838019327626 z " class="<%= idEstacionVista == '12' ? 'seleccionado' : 'estaciones' %>" title="Plamondon " id="Plamondon " tabindex="12" role="img" addinfo="Plamondon " />
        </a>

        <a xlink:href="/Mapa/metro/11">
            <path d="M191.8030183971229,307.09151873902783 C191.8030183971229,304.4795367467651 193.92212799476124,302.3638313330324 196.53831268320357,302.3638313330324 C199.1544973716459,302.3638313330324 201.27360696928417,304.4795367467651 201.27360696928417,307.09151873902783 C201.27360696928417,309.7035007312905 199.1544973716459,311.81920614502326 196.53831268320357,311.81920614502326 C193.92212799476124,311.81920614502326 191.8030183971229,309.7035007312905 191.8030183971229,307.09151873902783 z " class="<%= idEstacionVista == '11' ? 'seleccionado' : 'estaciones' %>" title="Namur " id="Namur " tabindex="11" role="img" addinfo="Namur "/>
        </a>

        <a xlink:href="/Mapa/metro/10">
            <path d="M180.43047020438343,294.54250041560636 C180.43047020438343,291.93051842334364 182.54957980202173,289.81481300961093 185.16576449046408,289.81481300961093 C187.78194917890642,289.81481300961093 189.9010587765447,291.93051842334364 189.9010587765447,294.54250041560636 C189.9010587765447,297.154482407869 187.78194917890642,299.2701878216018 185.16576449046408,299.2701878216018 C182.54957980202173,299.2701878216018 180.43047020438343,297.154482407869 180.43047020438343,294.54250041560636 z " class="<%= idEstacionVista == '10' ? 'seleccionado' : 'estaciones' %>" title="De la savane" id="De la savane" tabindex="10" role="img" addinfo="De la savane" />
        </a>

        <a xlink:href="/Mapa/metro/7">
            <path d="M135.3324297428432,244.73857478217587 C135.3324297428432,242.12659278991316 137.4515393404815,240.01088737618045 140.06772402892383,240.01088737618045 C142.68390871736617,240.01088737618045 144.80301831500446,242.12659278991316 144.80301831500446,244.73857478217587 C144.80301831500446,247.35055677443853 142.68390871736617,249.4662621881713 140.06772402892383,249.4662621881713 C137.4515393404815,249.4662621881713 135.3324297428432,247.35055677443853 135.3324297428432,244.73857478217587 z " id="Pourier" role="img" addinfo="Pourier" class="<%= idEstacionVista  == '7' ? 'seleccionado' : 'estaciones' %>" title="Pourier" tabindex="7"/>
        </a>

        <a xlink:href="/Mapa/metro/8">
            <path d="M155.33243141177326,267.0915186794232 C155.33243141177326,264.4795366871605 157.45154100941156,262.36383127342776 160.0677256978539,262.36383127342776 C162.68391038629622,262.36383127342776 164.80301998393452,264.4795366871605 164.80301998393452,267.0915186794232 C164.80301998393452,269.70350067168584 162.68391038629622,271.8192060854186 160.0677256978539,271.8192060854186 C157.45154100941156,271.8192060854186 155.33243141177326,269.70350067168584 155.33243141177326,267.0915186794232 z " id="Côte-Vertu" class="<%= idEstacionVista == '8' ? 'seleccionado' : 'estaciones' %>" title="Côte-Vertu" tabindex="8" role="img" addinfo="Côte-Vertu"/>
        </a>

        <a xlink:href="/Mapa/metro/9">
            <path d="M168.27360812428623,281.60132191495404 C168.27360812428623,278.98933992269133 170.39271772192453,276.8736345089586 173.00890241036686,276.8736345089586 C175.6250870988092,276.8736345089586 177.7441966964475,278.98933992269133 177.7441966964475,281.60132191495404 C177.7441966964475,284.2133039072167 175.6250870988092,286.32900932094947 173.00890241036686,286.32900932094947 C170.39271772192453,286.32900932094947 168.27360812428623,284.2133039072167 168.27360812428623,281.60132191495404 z " id="Du Cóllege" class="<%= idEstacionVista == '9' ? 'seleccionado' : 'estaciones' %>" title="Du Cóllege" tabindex="9" role="img" addinfo="Du Cóllege"/>
        </a>

        <path class="estaciones " d="M255.72459209564357,320.03269336537824 C255.72459209564357,317.4207113731155 257.8437016932819,315.3050059593828 260.45988638172423,315.3050059593828 C263.07607107016656,315.3050059593828 265.19518066780483,317.4207113731155 265.19518066780483,320.03269336537824 C265.19518066780483,322.6446753576409 263.07607107016656,324.76038077137366 260.45988638172423,324.76038077137366 C257.8437016932819,324.76038077137366 255.72459209564357,322.6446753576409 255.72459209564357,320.03269336537824 z " id="svg_46 " />

        <path class="estaciones " d="M246.31282604339748,367.0915179045628 C246.31282604339748,364.4795359123001 248.4319356410358,362.3638304985674 251.04812032947814,362.3638304985674 C253.66430501792047,362.3638304985674 255.78341461555874,364.4795359123001 255.78341461555874,367.0915179045628 C255.78341461555874,369.70349989682546 253.66430501792047,371.81920531055823 251.04812032947814,371.81920531055823 C248.4319356410358,371.81920531055823 246.31282604339748,369.70349989682546 246.31282604339748,367.0915179045628 z " id="svg_70 " />

        <path class="estaciones " d="M278.861848717958,298.85622165517316 C278.861848717958,296.24423966291045 280.98095831559635,294.12853424917773 283.5971430040387,294.12853424917773 C286.213327692481,294.12853424917773 288.3324372901193,296.24423966291045 288.3324372901193,298.85622165517316 C288.3324372901193,301.4682036474358 286.213327692481,303.5839090611686 283.5971430040387,303.5839090611686 C280.98095831559635,303.5839090611686 278.861848717958,301.4682036474358 278.861848717958,298.85622165517316 z " id="svg_45 " />

        <path class="estaciones " d="M301.9991015255752,277.6797510178517 C301.9991015255752,275.067769025589 304.11821112321354,272.95206361185626 306.7343958116559,272.95206361185626 C309.3505805000982,272.95206361185626 311.4696900977365,275.067769025589 311.4696900977365,277.6797510178517 C311.4696900977365,280.29173301011434 309.3505805000982,282.4074384238471 306.7343958116559,282.4074384238471 C304.11821112321354,282.4074384238471 301.9991015255752,280.29173301011434 301.9991015255752,277.6797510178517 z " id="svg_44 " />

        <path class="estaciones " d="M175.7245929301086,82.77778915481076 C175.7245929301086,80.16580716254808 177.8437025277469,78.05010174881534 180.45988721618923,78.05010174881534 C183.07607190463156,78.05010174881534 185.19518150226986,80.16580716254808 185.19518150226986,82.77778915481076 C185.19518150226986,85.38977114707342 183.07607190463156,87.50547656080619 180.45988721618923,87.50547656080619 C177.8437025277469,87.50547656080619 175.7245929301086,85.38977114707342 175.7245929301086,82.77778915481076 z " id="svg_33 " />

        <a xlink:href="/Mapa/metro/2">
<path d="M92.19517977251098,82.58170807098503 C92.19517977251098,78.56142768233656 95.54275849699675,75.3050005675313 99.67557173710259,75.3050005675313 C103.80838497720842,75.3050005675313 107.15596370169419,78.56142768233656 107.15596370169419,82.58170807098503 C107.15596370169419,86.6019884596335 103.80838497720842,89.85841557443877 99.67557173710259,89.85841557443877 C95.54275849699675,89.85841557443877 92.19517977251098,86.6019884596335 92.19517977251098,82.58170807098503 z " class="<%= idEstacionVista == '2' ? 'seleccionado' : 'estacionesprincipales' %>" title="Saint Martin" id="saintmartin" tabindex="2" role="img" addinfo="Saint Martin"/>        </a>


        <path class="estacionesprincipales " d="M413.37165148271606,275.13073456024284 C413.37165148271606,271.11045417159437 416.7192302072018,267.8540270567891 420.85204344730766,267.8540270567891 C424.9848566874135,267.8540270567891 428.33243541189927,271.11045417159437 428.33243541189927,275.13073456024284 C428.33243541189927,279.1510149488913 424.9848566874135,282.4074420636966 420.85204344730766,282.4074420636966 C416.7192302072018,282.4074420636966 413.37165148271606,279.1510149488913 413.37165148271606,275.13073456024284 z " id="svg_27 " />

        <path class="estacionesprincipales " d="M301.21479113115356,410.0326968405163 C301.21479113115356,406.0124164518678 304.5623698556393,402.75598933706254 308.69518309574516,402.75598933706254 C312.827996335851,402.75598933706254 316.17557506033677,406.0124164518678 316.17557506033677,410.0326968405163 C316.17557506033677,414.05297722916475 312.827996335851,417.30940434397 308.69518309574516,417.30940434397 C304.5623698556393,417.30940434397 301.21479113115356,414.05297722916475 301.21479113115356,410.0326968405163 z " id="svg_68 " />

        <path class="estacionesprincipales " d="M325.9206741572766,176.6993533346569 C325.9206741572766,172.67907294600843 329.26825288176235,169.42264583120317 333.4010661218682,169.42264583120317 C337.5338793619741,169.42264583120317 340.8814580864598,172.67907294600843 340.8814580864598,176.6993533346569 C340.8814580864598,180.71963372330538 337.5338793619741,183.97606083811064 333.4010661218682,183.97606083811064 C329.26825288176235,183.97606083811064 325.9206741572766,180.71963372330538 325.9206741572766,176.6993533346569 z " id="svg_26 " />

        <path class="estacionesprincipales " d="M236.11674959672973,502.97385894989134 C236.11674959672973,498.9535785612428 239.46432832121548,495.6971514464376 243.59714156132134,495.6971514464376 C247.7299548014272,495.6971514464376 251.07753352591294,498.9535785612428 251.07753352591294,502.97385894989134 C251.07753352591294,506.99413933853975 247.7299548014272,510.2505664533451 243.59714156132134,510.2505664533451 C239.46432832121548,510.2505664533451 236.11674959672973,506.99413933853975 236.11674959672973,502.97385894989134 z " id="svg_31 " />

        <path class="estacionesprincipales " d="M650.2344024897961,281.79739248489494 C650.2344024897961,277.77711209624647 653.5819812142819,274.5206849814412 657.7147944543877,274.5206849814412 C661.8476076944936,274.5206849814412 665.1951864189793,277.77711209624647 665.1951864189793,281.79739248489494 C665.1951864189793,285.8176728735434 661.8476076944936,289.0740999883487 657.7147944543877,289.0740999883487 C653.5819812142819,289.0740999883487 650.2344024897961,285.8176728735434 650.2344024897961,281.79739248489494 z " id="svg_30 " />

        <path class="estacionesprincipales " d="M541.2421590210347,88.97933554386253 C541.2421590210347,84.95905515521406 544.5897377455204,81.7026280404088 548.7225509856263,81.7026280404088 C552.8553642257322,81.7026280404088 556.2029429502179,84.95905515521406 556.2029429502179,88.97933554386253 C556.2029429502179,92.999615932511 552.8553642257322,96.25604304731627 548.7225509856263,96.25604304731627 C544.5897377455204,96.25604304731627 541.2421590210347,92.999615932511 541.2421590210347,88.97933554386253 z " id="svg_29 " />

        <path class="estacionesprincipales " d="M460.43048269762085,54.73856937622185 C460.43048269762085,50.718288987573374 463.7780614221066,47.46186187276811 467.91087466221245,47.46186187276811 C472.0436879023183,47.46186187276811 475.39126662680405,50.718288987573374 475.39126662680405,54.73856937622185 C475.39126662680405,58.75884976487032 472.0436879023183,62.01527687967558 467.91087466221245,62.01527687967558 C463.7780614221066,62.01527687967558 460.43048269762085,58.75884976487032 460.43048269762085,54.73856937622185 z " id="svg_28 " />

        <a xlink:href="/Mapa/metro/14">
            <path d="M224.352047753468,345.32680999969597 C224.352047753468,341.3065296110475 227.69962647795376,338.05010249624223 231.83243971805962,338.05010249624223 C235.96525295816548,338.05010249624223 239.31283168265122,341.3065296110475 239.31283168265122,345.32680999969597 C239.31283168265122,349.34709038834444 235.96525295816548,352.6035175031497 231.83243971805962,352.6035175031497 C227.69962647795376,352.6035175031497 224.352047753468,349.34709038834444 224.352047753468,345.32680999969597 z " class="<%= idEstacionVista == '14' ? 'seleccionado' : 'estacionesprincipales' %>" title="Snowdon" id="Snowdon" tabindex="14" role="img" addinfo="Snowdon"/>
        </a>

        <rect class="cuadrado " id="svg_35 " x="212.68539428710938 " y="76.4466552734375 " width="13 " height="13 " style="color: rgb(255, 233, 0); " />
        <a xlink:href="/Mapa/metro/6">
            <rect x="116.21479797363281 " y="218.40744018554688 " width="13 " height="13 " style="color: rgb(255, 233, 0); " id="svg_36 " transform="rotate(-41.8801155090332 122.71479797363271,224.90744018554685) " role="img" addinfo="Bois-Franc" class="<%= idEstacionVista == '6' ? 'seleccionado' : 'cuadrado' %>" title="Bois-Franc" tabindex="6"/>
        </a>

        <rect class="cuadrado " x="279.3765869140625 " y="120.00057983398438 " width="13 " height="13 " style="color: rgb(255, 233, 0); " transform="rotate(-41.8801155090332 285.8765869140625,126.50057983398436) " id="svg_37 " />
        <rect class="cuadrado " x="288.7638244628906 " y="205.07411193847656 " width="13 " height="13 " style="color: rgb(255, 233, 0); " transform="rotate(-41.8801155090332 295.2638244628905,211.57409667968744) " id="svg_41 " />
        <rect class="cuadrado " x="366.5089111328125 " y="344.11822509765625 " width="13 " height="13 " style="color: rgb(255, 233, 0); " transform="rotate(-41.8801155090332 373.00894165039074,350.61825561523443) " id="svg_65 " />
        <rect class="cuadrado " x="346.5089111328125 " y="362.9417724609375 " width="13 " height="13 " style="color: rgb(255, 233, 0); " transform="rotate(-41.8801155090332 353.00894165039057,369.44177246093744) " id="svg_66 " />
        <rect class="cuadrado " x="260.9206848144531 " y="379.58392333984375 " width="13 " height="13 " style="color: rgb(255, 233, 0); " transform="rotate(-41.8801155090332 267.4207153320314,386.0839233398438) " id="svg_69 " />

        <foreignObject class="texto " id="svg_118 " x="25.172080993652344 " y="77.9512939453125 " width="77.72457122802734 " height="23.949132919311523 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">SAINT-MARTIN</p>
        </foreignObject>

        <foreignObject class="texto " x="550.461669921875 " y="68.25067138671875 " width="138.93504333496094 " height="10.532466888427734 " style="color: rgb(0, 0, 0); " id="svg_119 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">HONORÉ-BEAUGRAND</p>
        </foreignObject>

        <foreignObject class="texto " x="669.9935302734375 " y="277.7402648925781 " width="118.15582275390625 " height="10.532466888427734 " style="color: rgb(0, 0, 0); " id="svg_121 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">JACQUES-CARTIER </p>
        </foreignObject>

        <foreignObject class="texto " x="328.9545593261719 " y="405.532470703125 " width="105.16880798339844 " height="15.865800857543945 " style="color: rgb(0, 0, 0); " id="svg_123 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_124 ">LIONEL-GROULX</p>
        </foreignObject>

        <foreignObject class="texto " x="176.9827423095703 " y="350.3603515625 " width="66.20777130126953 " height="11.831168174743652 " style="color: rgb(0, 0, 0); " id="svg_129 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_130 ">SNOWDON</p>
        </foreignObject>

        <foreignObject class="texto " x="262.952392578125 " y="172.70779418945312 " width="55.39609146118164 " height="10.532464981079102 " style="color: rgb(0, 0, 0); " id="svg_131 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_132 ">JEAN-TALON</p>
        </foreignObject>

        <foreignObject class="texto " x="347.1363830566406 " y="269.85064697265625 " width="56.84088897705078 " height="17.025972366333008 " style="color: rgb(0, 0, 0); " id="svg_115 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_132 ">BERRI-UQAM</p>
        </foreignObject>

        <foreignObject class="texto " x="177.12017822265625 " y="506.18182373046875 " width="80.49348449707031 " height="13.129868507385254 " style="color: rgb(0, 0, 0); " id="svg_125 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_126 ">ANGRIGNON</p>
        </foreignObject>

        <foreignObject class="texto " x="478.56494140625 " y="43.45453643798828 " width="88.28571319580078 " height="10.532466888427734 " style="color: rgb(0, 0, 0); " id="svg_116 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_117 ">ANJOU</p>
        </foreignObject>

        <foreignObject class="texto " id="svg_113 " x="19.4837646484375 " y="36.28894805908203 " width="69.44155883789062 " height="11.915584564208984 " style="color: rgb(0, 0, 0); ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">LE CARREFOUR</p>
        </foreignObject>

        <foreignObject class="textonormal " id="svg_141 " x="122.33332824707031 " y="90.63890075683594 " width="53 " height="12.777778625488281 " style="color: rgb(0, 0, 0); ">

            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Souvenir</p>
        </foreignObject>

        <foreignObject class="textonormal " x="108.58332824707031 " y="110.55557250976562 " width="51 " height="14.111113548278809 " style="color: rgb(0, 0, 0); " id="svg_134 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Notre-Dame</p>
        </foreignObject>

        <foreignObject class="textonormal " x="153.11109924316406 " y="65.86112976074219 " width="73 " height="12.777778625488281 " style="color: rgb(0, 0, 0); " id="svg_114 ">

            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Montmorency</p>
        </foreignObject>

        <foreignObject class="textonormal " x="221.86111450195312 " y="67.19446563720703 " width="83 " height="13.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_112 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">De La Concorde</p>
        </foreignObject>

        <foreignObject class="textonormal " x="150.19444274902344 " y="234.61114501953125 " width="79.66666412353516 " height="14.777779579162598 " style="color: rgb(0, 0, 0); " id="svg_187 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Pourier</p>
        </foreignObject>

        <foreignObject class="textonormal " x="201.4444580078125 " y="367.52783203125 " width="51.666664123535156 " height="11.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_201 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Villa-Maria</p>
        </foreignObject>


        <foreignObject class="textonormal " x="106.9444580078125 " y="267.2778015136719 " width="79.66666412353516 " height="11.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_189 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Côte-Vertu</p>
        </foreignObject>

        <foreignObject class="textonormal " x="123.69444274902344 " y="334.9910888671875 " width="106.33333587646484 " height="13.231142044067383 " style="color: rgb(0, 0, 0); " id="svg_199 ">

            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_200 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Cóte-Sainte-Catherine</p>
        </foreignObject>
        <foreignObject class="textonormal " x="157.36111450195312 " y="321.9444580078125 " width="79.66666412353516 " height="14.777779579162598 " style="color: rgb(0, 0, 0); " id="svg_197 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Plamondon</p>
        </foreignObject>

        <foreignObject class="textonormal " x="164.36111450195312 " y="308.61114501953125 " width="79.66666412353516 " height="15.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_195 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Namur</p>
        </foreignObject>

        <foreignObject class="textonormal " x="126.69444274902344 " y="295.2778015136719 " width="79.66666412353516 " height="12.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_193 ">

            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">De la savane</p>
        </foreignObject>

        <foreignObject class="textonormal " x="122.69444274902344 " y="280.61114501953125 " width="79.66666412353516 " height="10.777779579162598 " style="color: rgb(0, 0, 0); " id="svg_191 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Du Collége</p>
        </foreignObject>

        <foreignObject class="textonormal " x="384.77777099609375 " y="215.52780151367188 " width="40.666664123535156 " height="10.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_185 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Laurier</p>
        </foreignObject>

        <foreignObject class="textonormal " x="398.52777099609375 " y="236.77780151367188 " width="54.999996185302734 " height="14.777779579162598 " style="color: rgb(0, 0, 0); " id="svg_266 ">

            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Sherbrooke</p>
        </foreignObject>

        <foreignObject class="textonormal " x="368.77777099609375 " y="198.27780151367188 " width="45.83333206176758 " height="12.777778625488281 " style="color: rgb(0, 0, 0); " id="svg_183 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Rosemont</p>
        </foreignObject>

        <foreignObject class="textonormal " x="355.6111145019531 " y="183.6111297607422 " width="51.58333206176758 " height="12.777778625488281 " style="color: rgb(0, 0, 0); " id="svg_181 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">BeauBien</p>
        </foreignObject>

        <foreignObject class="textonormal " x="272.8204040527344 " y="365.5878601074219 " width="41.29457092285156 " height="13.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_221 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Atwater</p>
        </foreignObject>

        <foreignObject class="textonormal " x="316.8901672363281 " y="330.76226806640625 " width="25.370660834265664 " height="11.995170897614912 " style="color: rgb(0, 0, 0); " id="svg_225 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Peel</p>
        </foreignObject>

        <foreignObject class="textonormal " x="337.64599609375 " y="284.802978515625 " width="54.92829513549805 " height="13.734301496044736 " style="color: rgb(0, 0, 0); " id="svg_231 ">

            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Saint-Laurent</p>
        </foreignObject>

        <foreignObject class="textonormal " x="311.9774169921875 " y="299.9192810058594 " width="61.78875732421875 " height="11.995170897614912 " style="color: rgb(0, 0, 0); " id="svg_229 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Place-Des-Arts</p>
        </foreignObject>

        <foreignObject class="textonormal " x="259.18670654296875 " y="348.20416259765625 " width="64.31782531738281 " height="12.3788480758667 " style="color: rgb(0, 0, 0); " id="svg_223 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Guy-Concordia</p>
        </foreignObject>

        <foreignObject class="textonormal " x="391.2778015136719 " y="132.7777862548828 " width="79.66666412353516 " height="12.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_155 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Saint-Michel</p>
        </foreignObject>

        <foreignObject class="textonormal " x="412.6111145019531 " y="114.11112976074219 " width="79.66666412353516 " height="14.777779579162598 " style="color: rgb(0, 0, 0); " id="svg_157 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Pie-ix</p>
        </foreignObject>

        <foreignObject class="textonormal " x="429.9444274902344 " y="102.11112976074219 " width="79.66666412353516 " height="11.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_161 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Viau</p>
        </foreignObject>

        <foreignObject class="textonormal " x="440.611083984375 " y="87.44447326660156 " width="79.66666412353516 " height="12.777778625488281 " style="color: rgb(0, 0, 0); " id="svg_163 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Lacordaire</p>
        </foreignObject>

        <foreignObject class="textonormal " x="461.94439697265625 " y="68.77780151367188 " width="79.66666412353516 " height="15.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_165 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Langelier</p>
        </foreignObject>

        <foreignObject class="textonormal " x="220.19442749023438 " y="387.36114501953125 " width="79.66666412353516 " height="16.77777862548828 " style="color: rgb(0, 0, 0); " id="svg_205 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Vendôme</p>
        </foreignObject>

        <foreignObject class="textonormal " x="206.611083984375 " y="407.36114501953125 " width="79.66666412353516 " height="12.777778625488281 " style="color: rgb(0, 0, 0); " id="svg_207 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Place-Saint-Henri</p>
        </foreignObject>

        <foreignObject class="textonormal " x="224.611083984375 " y="478.11114501953125 " width="28.999998092651367 " height="12.777778625488281 " style="color: rgb(0, 0, 0); " id="svg_203 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Monk</p>
        </foreignObject>

        <foreignObject class="textonormal " x="231.02774047851562 " y="463.2778015136719 " width="33.416664123535156 " height="6.7777791023254395 " style="color: rgb(0, 0, 0); " id="svg_209 ">

            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Jolicceur</p>
        </foreignObject>

        <foreignObject class="textonormal " x="303.111083984375 " y="481.02783203125 " width="33.75 " height="12.777778625488281 " style="color: rgb(0, 0, 0); " id="svg_211 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Verdun</p>
        </foreignObject>

        <foreignObject class="textonormal " x="319.1944274902344 " y="465.0278015136719 " width="35.916664123535156 " height="6.7777791023254395 " style="color: rgb(0, 0, 0); " id="svg_213 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">DeL'église</p>
        </foreignObject>

        <foreignObject class="textonormal " x="335.18280029296875 " y="392.44061279296875 " width="79.66666412353516 " height="11.459949493408203 " style="color: rgb(0, 0, 0); " id="svg_233 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Georges-Vanier</p>
        </foreignObject>

        <foreignObject class="textonormal " x="358.6711730957031 " y="375.40570068359375 " width="79.66666412353516 " height="15.45995044708252 " style="color: rgb(0, 0, 0); " id="svg_235 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; "> Lucien-LÁllier </p>
        </foreignObject>

        <foreignObject class="textonormal " x="378.6711730957031 " y="356.9464111328125 " width="79.66666412353516 " height="10.793282508850098 " style="color: rgb(0, 0, 0); " id="svg_237 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; "> Bonaventure </p>
        </foreignObject>

        <foreignObject class="textonormal " x="396.52001953125 " y="342.23712158203125 " width="79.66666412353516 " height="21.459949493408203 " style="color: rgb(0, 0, 0); " id="svg_239 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; "> Square-Victoria </p>
        </foreignObject>

        <foreignObject class="textonormal " x="414.1072082519531 " y="327.4405822753906 " width="79.66666412353516 " height="16.793283462524414 " style="color: rgb(0, 0, 0); " id="svg_219 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; "> Place-DÁrmes</p>
        </foreignObject>

        <foreignObject class="textonormal " x="425.7060546875 " y="313.6324462890625 " width="80.91665649414062 " height="22.543283462524414 " style="color: rgb(0, 0, 0); " id="svg_241 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; "> Champ-De-Mars </p>
        </foreignObject>

        <foreignObject class="textonormal " x="449.80487060546875 " y="257.6150207519531 " width="79.66666412353516 " height="13.459949493408203 " style="color: rgb(0, 0, 0); " id="svg_243 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Beaudry</p>
        </foreignObject>

        <foreignObject class="textonormal " x="462.828125 " y="222.96383666992188 " width="79.66666412353516 " height="8.793282508850098 " style="color: rgb(0, 0, 0); " id="svg_247 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_248 ">Frontenac</p>
        </foreignObject>

        <foreignObject class="textonormal " x="463.7273254394531 " y="209.242919921875 " width="79.66666412353516 " height="10.793282508850098 " style="color: rgb(0, 0, 0); " id="svg_249 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_250 ">Préfontane</p>
        </foreignObject>

        <foreignObject class="textonormal " x="492.363037109375 " y="182.73129272460938 " width="79.66666412353516 " height="16.126617431640625 " style="color: rgb(0, 0, 0); " id="svg_253 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_250 ">Pie-ix</p>
        </foreignObject>

        <foreignObject class="textonormal " x="508.8746337890625 " y="145.66732788085938 " width="79.66666412353516 " height="11.459949493408203 " style="color: rgb(0, 0, 0); " id="svg_257 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_250 ">Assomption</p>
        </foreignObject>

        <foreignObject class="textonormal " x="446.3746337890625 " y="301.9173278808594 " width="79.66666412353516 " height="12.126616477966309 " style="color: rgb(0, 0, 0); " id="svg_270 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Jean-Drapeau</p>
        </foreignObject>

        <foreignObject class="textonormal " x="505.1246337890625 " y="289.4173278808594 " width="125.91665649414062 " height="19.459951400756836 " style="color: rgb(0, 0, 0); " id="svg_268 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_269 ">Longueuil-Université-De-Sherbrooke</p>
        </foreignObject>

        <foreignObject class="textonormal " x="550.1246337890625 " y="276.9173278808594 " width="125.91665649414062 " height="10.793282508850098 " style="color: rgb(0, 0, 0); " id="svg_273 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_274 ">Vieux-Longueuil</p>
        </foreignObject>

        <foreignObject class="textonormal " x="573.8746337890625 " y="241.91732788085938 " width="53.08332824707031 " height="13.459949493408203 " style="color: rgb(0, 0, 0); " id="svg_275 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_276 ">D'Auvergne</p>
        </foreignObject>

        <foreignObject class="textonormal " x="610.1246337890625 " y="251.91732788085938 " width="68.41666412353516 " height="32.79328536987305 " style="color: rgb(0, 0, 0); " id="svg_277 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_278 ">Roland-Therrien</p>
        </foreignObject>

        <foreignObject class="textonormal " x="640.1246337890625 " y="261.9173278808594 " width="68.41666412353516 " height="13.459949493408203 " style="color: rgb(0, 0, 0); " id="svg_279 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_280 ">Curé-Poirier</p>
        </foreignObject>

        <foreignObject class="textonormal " x="510.1246337890625 " y="238.16732788085938 " width="47.166664123535156 " height="39.4599494934082 " style="color: rgb(0, 0, 0); " id="svg_271 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_272 ">Pointe-De-La-Voie-Maritime</p>
        </foreignObject>

        <foreignObject class="textonormal " x="507.9444580078125 " y="170.4057159423828 " width="79.66666412353516 " height="12.793283462524414 " style="color: rgb(0, 0, 0); " id="svg_259 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_250 ">Viau</p>
        </foreignObject>

        <foreignObject class="textonormal " x="510.03741455078125 " y="132.96383666992188 " width="79.66666412353516 " height="8.793282508850098 " style="color: rgb(0, 0, 0); " id="svg_255 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_250 ">Cadillac</p>
        </foreignObject>

        <foreignObject class="textonormal " x="524.2235107421875 " y="121.07239532470703 " width="79.66666412353516 " height="12.126616477966309 " style="color: rgb(0, 0, 0); " id="svg_261 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_250 ">Préfontane</p>
        </foreignObject>

        <foreignObject class="textonormal " x="543.0607299804688 " y="103.1964111328125 " width="79.66666412353516 " height="13.459949493408203 " style="color: rgb(0, 0, 0); " id="svg_264 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_250 ">Radisson</p>
        </foreignObject>

        <foreignObject class="textonormal " x="474.92120361328125 " y="197.35142517089844 " width="79.66666412353516 " height="12.126616477966309 " style="color: rgb(0, 0, 0); " id="svg_251 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_252 ">Joliette</p>
        </foreignObject>

        <foreignObject class="textonormal " x="465.1536865234375 " y="245.056884765625 " width="79.66666412353516 " height="15.45995044708252 " style="color: rgb(0, 0, 0); " id="svg_245 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_246 ">Papineau</p>
        </foreignObject>

        <foreignObject class="textonormal " x="334.1944274902344 " y="420.9444885253906 " width="46.666664123535156 " height="16.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_217 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Charlevoix</p>
        </foreignObject>

        <foreignObject class="textonormal " x="337.6944274902344 " y="450.2778015136719 " width="24.666664123535156 " height="6.7777791023254395 " style="color: rgb(0, 0, 0); " id="svg_215 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Lasalle</p>
        </foreignObject>

        <foreignObject class="textonormal " x="218.7021484375 " y="303.27392578125 " width="61 " height="6.7777791023254395 " style="color: rgb(0, 0, 0); " id="svg_179 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Côte-Des-Neiges</p>
        </foreignObject>

        <foreignObject class="textonormal " x="227.861083984375 " y="281.0278015136719 " width="79.66666412353516 " height="23.44444465637207 " style="color: rgb(0, 0, 0); " id="svg_177 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Université-De-Montreal</p>
        </foreignObject>

        <foreignObject class="textonormal " x="222.611083984375 " y="267.4444580078125 " width="94.33332824707031 " height="19.444446563720703 " style="color: rgb(0, 0, 0); " id="svg_175 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Édouard-Montpetit</p>
        </foreignObject>

        <foreignObject class="textonormal " x="321.9444274902344 " y="246.11114501953125 " width="79.66666412353516 " height="6.7777791023254395 " style="color: rgb(0, 0, 0); " id="svg_173 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Outremont</p>
        </foreignObject>

        <foreignObject class="textonormal " x="303.2777404785156 " y="228.11114501953125 " width="79.66666412353516 " height="10.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_171 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_172 ">Acadie</p>
        </foreignObject>
        <foreignObject class="textonormal " x="264.94439697265625 " y="203.1111297607422 " width="32.666664123535156 " height="12.777778625488281 " style="color: rgb(0, 0, 0); " id="svg_169 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Parc</p>
        </foreignObject>

        <foreignObject class="textonormal " x="248.19442749023438 " y="187.3611297607422 " width="79.66666412353516 " height="15.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_167 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_166 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">De Castelnau</p>
        </foreignObject>

        <foreignObject class="textonormal " x="377.9444580078125 " y="148.77780151367188 " width="79.66666412353516 " height="12.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_159 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">D'iberville</p>
        </foreignObject>

        <foreignObject class="textonormal " x="108.94444274902344 " y="140.6944580078125 " width="79.66666412353516 " height="13.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_136 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; "> Chomedey  </p>
        </foreignObject>

        <foreignObject class="textonormal " x="359.27777099609375 " y="163.4444580078125 " width="32.833335876464844 " height="12.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_153 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_154 ">Fabre</p>
        </foreignObject>

        <foreignObject class="textonormal " x="320.77777099609375 " y="146.2777862548828 " width="29.66666603088379 " height="14.111113548278809 " style="color: rgb(0, 0, 0); " id="svg_151 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Jarry</p>
        </foreignObject>

        <foreignObject class="textonormal " x="295.8611145019531 " y="114.61112976074219 " width="24.666664123535156 " height="12.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_149 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; "> Sauvé </p>
        </foreignObject>

        <foreignObject class="textonormal " x="307.6111145019531 " y="132.9444580078125 " width="43.5 " height="14.111113548278809 " style="color: rgb(0, 0, 0); " id="svg_147 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; " id="svg_148 ">Crémazie</p>
        </foreignObject>

        <foreignObject class="textonormal " x="278.6111145019531 " y="98.61112976074219 " width="69.66666412353516 " height="12.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_145 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; "> Henry-Bourassa </p>
        </foreignObject>

        <foreignObject class="textonormal " x="262.52777099609375 " y="81.69445037841797 " width="33.999996185302734 " height="13.444445610046387 " style="color: rgb(0, 0, 0); " id="svg_143 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Cartier</p>
        </foreignObject>

        <foreignObject class="textonormal " x="111.27777099609375 " y="191.4444580078125 " width="79.66666412353516 " height="16.111112594604492 " style="color: rgb(0, 0, 0); " id="svg_138 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Gouin</p>
        </foreignObject>

        <foreignObject class="textonormal " x="130.27777099609375 " y="214.1111297607422 " width="79.66666412353516 " height="17.444446563720703 " style="color: rgb(0, 0, 0); " id="svg_140 ">
            <p xmlns="http://www.w3.org/1999/xhtml " id="svg_142 " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">Bois-Franc</p>
        </foreignObject>

        <foreignObject class="textonormal " x="323.81634864774605 " y="315.8785705566406 " width="36.62066087272228 " height="11.1256055984 " style="color: rgb(0, 0, 0); " id="svg_227 ">
            <p xmlns="http://www.w3.org/1999/xhtml " style="border: none;outline: none;font-size: inherit;line-height: 1em;padding:0;margin:0; ">McGrill</p>
        </foreignObject>

    </g>

</svg>